<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    Welcome to the company home page!

    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <!--Inner content will only be shown if current user has Manager role. This won't even show up in the html page at all if not.-->
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a> (Only for managers)
        </p>
    </div>


    <!--Inner content will only be shown if current user has Admin role. This won't even show up in the html page at all if not.-->
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT SYSTEMS Meeting</a> (Only for admins)
        </p>
    </div>

    <hr>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>